In [1]:
import pandas as pd
from caits.dataset import CoreArray, DatasetArray

In [26]:
init_data = pd.read_csv("data/AirQuality.csv", sep=";", decimal=",")
print(init_data)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1     10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2     10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4     10/03/2004  22.00.00     1.6       1272.0      51.0       6.5
...          ...       ...     ...          ...       ...       ...
9466         NaN       NaN     NaN          NaN       NaN       NaN
9467         NaN       NaN     NaN          NaN       NaN       NaN
9468         NaN       NaN     NaN          NaN       NaN       NaN
9469         NaN       NaN     NaN          NaN       NaN       NaN
9470         NaN       NaN     NaN          NaN       NaN       NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13.6  48.9  0.7578          NaN          NaN
1           972.0  13.3  47.7  0.7255          NaN          NaN
2          1074.0  11.9  54.0  0.7502          NaN          NaN
3          1203.0  11.0  60.0  0.7867          NaN          NaN
4          1110.0  11.2  59.6  0.7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]

In [27]:
init_data["Datetime"] = init_data["Date"] + " " + init_data["Time"]
init_data = init_data.drop(columns=["Date", "Time"]).set_index("Datetime")
init_data = init_data[init_data.index.isna() == False].reset_index()
print(init_data)

                 Datetime  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004 18.00.00     2.6       1360.0     150.0      11.9
1     10/03/2004 19.00.00     2.0       1292.0     112.0       9.4
2     10/03/2004 20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004 21.00.00     2.2       1376.0      80.0       9.2
4     10/03/2004 22.00.00     1.6       1272.0      51.0       6.5
...                   ...     ...          ...       ...       ...
9352  04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5
9353  04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4
9354  04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4
9355  04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5
9356  04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9355          961.0    235.0         702.0    156.0        1041.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13.6  48.9  0.7578          NaN          NaN
1           972.0  13.3  47.7  0.7255          NaN          NaN
2          1074.0  11.9  54.0  0.7502          NaN          NaN
3          1203.0  11.0  60.0  0.7867          NaN          NaN
4          1110.0  11.2  59.6  0.7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9352       1729.0  21.9  29.3  0.7568          NaN          NaN
9353       1269.0  24.3  23.7  0.7119          NaN          NaN
9354       1092.0  26.9  18.3  0.6406          NaN          NaN
9355        770.0  28.3  13.5  0.5139          NaN          NaN
9356        816.0  28.5  13.1  0.5028          NaN          NaN

[9357 rows x 16 columns]

In [30]:
X_df = init_data.iloc[:, :-5]
X_values = X_df.values
X_axis_names = {
    "axis_0": X_df.index.values,
    "axis_1": X_df.columns
}

X = CoreArray(X_values, X_axis_names)
print(X)

                 Datetime  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  \
   0  10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0
   1  10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0
   2  10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0
   3  10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0
   4  10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0
 ...                  ...     ...          ...       ...       ...            ...
9352  04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0
9353  04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0
9354  04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0
9355  04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0
9356  04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0

      NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)
   0    166.0        1056.0    113.0        1692.0       1268.0
   1    103.0        1174.0     92.0        1559.0        972.0
   2    131.0        1140.0    114.0        1555.0       1074.0
   3    172.0        1092.0    122.0        1584.0       1203.0
   4    131.0        1205.0    116.0        1490.0       1110.0
 ...      ...           ...      ...           ...          ...
9352    472.0         539.0    190.0        1374.0       1729.0
9353    353.0         604.0    179.0        1264.0       1269.0
9354    293.0         603.0    175.0        1241.0       1092.0
9355    235.0         702.0    156.0        1041.0        770.0
9356    265.0         654.0    168.0        1129.0        816.0

CoreArray with shape (9357, 11)

In [31]:
y_df = init_data.iloc[:, -5:-2]
y_values = y_df.values
y_axis_names = {
    "axis_0": y_df.index.values,
    "axis_1": y_df.columns
}

y = CoreArray(y_values, y_axis_names)
print(y)

         T    RH      AH
   0  13.6  48.9  0.7578
   1  13.3  47.7  0.7255
   2  11.9  54.0  0.7502
   3  11.0  60.0  0.7867
   4  11.2  59.6  0.7888
 ...   ...   ...     ...
9352  21.9  29.3  0.7568
9353  24.3  23.7  0.7119
9354  26.9  18.3  0.6406
9355  28.3  13.5  0.5139
9356  28.5  13.1  0.5028

CoreArray with shape (9357, 3)

In [32]:
data = DatasetArray(X, y)
print(data)

DatasetArray object with 9357 instances.