In [1]:
import pandas as pd
from caits.dataset import CoreArray, DatasetArray

In [2]:
init_data = pd.read_csv("data/AirQuality.csv", sep=";", decimal=",")
print(init_data)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1     10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2     10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4     10/03/2004  22.00.00     1.6       1272.0      51.0       6.5
...          ...       ...     ...          ...       ...       ...
9466         NaN       NaN     NaN          NaN       NaN       NaN
9467         NaN       NaN     NaN          NaN       NaN       NaN
9468         NaN       NaN     NaN          NaN       NaN       NaN
9469         NaN       NaN     NaN          NaN       NaN       NaN
9470         NaN       NaN     NaN          NaN       NaN       NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13.6  48.9  0.7578          NaN          NaN
1           972.0  13.3  47.7  0.7255          NaN          NaN
2          1074.0  11.9  54.0  0.7502          NaN          NaN
3          1203.0  11.0  60.0  0.7867          NaN          NaN
4          1110.0  11.2  59.6  0.7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]

In [3]:
init_data["Datetime"] = init_data["Date"] + " " + init_data["Time"]
init_data = init_data.drop(columns=["Date", "Time"]).set_index("Datetime")
init_data = init_data[init_data.index.isna() == False]
print(init_data)

                     CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  \
Datetime
10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0
10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0
10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0
10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0
10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0
...                     ...          ...       ...       ...            ...
04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0
04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0
04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0
04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0
04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0

                     NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
Datetime
10/03/2004 18.00.00    166.0        1056.0    113.0        1692.0
10/03/2004 19.00.00    103.0        1174.0     92.0        1559.0
10/03/2004 20.00.00    131.0        1140.0    114.0        1555.0
10/03/2004 21.00.00    172.0        1092.0    122.0        1584.0
10/03/2004 22.00.00    131.0        1205.0    116.0        1490.0
...                      ...           ...      ...           ...
04/04/2005 10.00.00    472.0         539.0    190.0        1374.0
04/04/2005 11.00.00    353.0         604.0    179.0        1264.0
04/04/2005 12.00.00    293.0         603.0    175.0        1241.0
04/04/2005 13.00.00    235.0         702.0    156.0        1041.0
04/04/2005 14.00.00    265.0         654.0    168.0        1129.0

                     PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
Datetime
10/03/2004 18.00.00       1268.0  13.6  48.9  0.7578          NaN          NaN
10/03/2004 19.00.00        972.0  13.3  47.7  0.7255          NaN          NaN
10/03/2004 20.00.00       1074.0  11.9  54.0  0.7502          NaN          NaN
10/03/2004 21.00.00       1203.0  11.0  60.0  0.7867          NaN          NaN
10/03/2004 22.00.00       1110.0  11.2  59.6  0.7888          NaN          NaN
...                          ...   ...   ...     ...          ...          ...
04/04/2005 10.00.00       1729.0  21.9  29.3  0.7568          NaN          NaN
04/04/2005 11.00.00       1269.0  24.3  23.7  0.7119          NaN          NaN
04/04/2005 12.00.00       1092.0  26.9  18.3  0.6406          NaN          NaN
04/04/2005 13.00.00        770.0  28.3  13.5  0.5139          NaN          NaN
04/04/2005 14.00.00        816.0  28.5  13.1  0.5028          NaN          NaN

[9357 rows x 15 columns]

In [4]:
X_df = init_data.iloc[:, :-5]
X_values = X_df.values
X_axis_names = {
    "axis_0": X_df.index.values,
    "axis_1": X_df.columns
}

X = CoreArray(X_values, X_axis_names)
print(X)

                     CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0    166.0
10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0    103.0
10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0    131.0
10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0    172.0
10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0    131.0
                ...     ...          ...       ...       ...            ...      ...
04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0    472.0
04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0    353.0
04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0    293.0
04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0    235.0
04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0    265.0

                     PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)
10/03/2004 18.00.00        1056.0    113.0        1692.0       1268.0
10/03/2004 19.00.00        1174.0     92.0        1559.0        972.0
10/03/2004 20.00.00        1140.0    114.0        1555.0       1074.0
10/03/2004 21.00.00        1092.0    122.0        1584.0       1203.0
10/03/2004 22.00.00        1205.0    116.0        1490.0       1110.0
                ...           ...      ...           ...          ...
04/04/2005 10.00.00         539.0    190.0        1374.0       1729.0
04/04/2005 11.00.00         604.0    179.0        1264.0       1269.0
04/04/2005 12.00.00         603.0    175.0        1241.0       1092.0
04/04/2005 13.00.00         702.0    156.0        1041.0        770.0
04/04/2005 14.00.00         654.0    168.0        1129.0        816.0

CoreArray with shape (9357, 10)

In [5]:
y_df = init_data.iloc[:, -5:-2]
y_values = y_df.values
y_axis_names = {
    "axis_0": y_df.index.values,
    "axis_1": y_df.columns
}

y = CoreArray(y_values, y_axis_names)
print(y)

                        T    RH      AH
10/03/2004 18.00.00  13.6  48.9  0.7578
10/03/2004 19.00.00  13.3  47.7  0.7255
10/03/2004 20.00.00  11.9  54.0  0.7502
10/03/2004 21.00.00  11.0  60.0  0.7867
10/03/2004 22.00.00  11.2  59.6  0.7888
                ...   ...   ...     ...
04/04/2005 10.00.00  21.9  29.3  0.7568
04/04/2005 11.00.00  24.3  23.7  0.7119
04/04/2005 12.00.00  26.9  18.3  0.6406
04/04/2005 13.00.00  28.3  13.5  0.5139
04/04/2005 14.00.00  28.5  13.1  0.5028

CoreArray with shape (9357, 3)

In [6]:
data = DatasetArray(X, y)
print(data)

DatasetArray object with 9357 instances.

# Test default arguments:
- to_X = True
- to_y = False
- dataset
- axis_names_X = None
- axis_names_y = None

In [7]:
from caits.filtering import filter_butterworth

tr_data = data.apply(filter_butterworth, fs=1000, cutoff_freq=50)
print(tr_data)

DatasetArray object with 9357 instances.

In [8]:
print(data.X)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(tr_data.X)

                     CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0    166.0
10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0    103.0
10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0    131.0
10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0    172.0
10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0    131.0
                ...     ...          ...       ...       ...            ...      ...
04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0    472.0
04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0    353.0
04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0    293.0
04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0    235.0
04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0    265.0

                     PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)
10/03/2004 18.00.00        1056.0    113.0        1692.0       1268.0
10/03/2004 19.00.00        1174.0     92.0        1559.0        972.0
10/03/2004 20.00.00        1140.0    114.0        1555.0       1074.0
10/03/2004 21.00.00        1092.0    122.0        1584.0       1203.0
10/03/2004 22.00.00        1205.0    116.0        1490.0       1110.0
                ...           ...      ...           ...          ...
04/04/2005 10.00.00         539.0    190.0        1374.0       1729.0
04/04/2005 11.00.00         604.0    179.0        1264.0       1269.0
04/04/2005 12.00.00         603.0    175.0        1241.0       1092.0
04/04/2005 13.00.00         702.0    156.0        1041.0        770.0
04/04/2005 14.00.00         654.0    168.0        1129.0        816.0

CoreArray with shape (9357, 10)

------------------------------------------------------------------------------------------------------------------------------------------------------------
                                    CO(GT)         PT08.S1(CO)             NMHC(GT)            C6H6(GT)       PT08.S2(NMHC)             NOx(GT)  \
10/03/2004 18.00.00     3.3238028646698283  1370.4124571944333    157.5070005453802  12.321080787809553  1061.5876733659004  172.76167113888548
10/03/2004 19.00.00   -0.29866041484702205   1328.693981910556   134.30360405313363  10.701463501993459    988.911452888887  148.15248546427404
10/03/2004 20.00.00     -3.912436166762458  1286.7594780531294    111.0540171012691    9.08338974842201   916.5813454449842  123.52365687657488
10/03/2004 21.00.00      -7.44269061906706  1245.8401408147104    88.44674817557053   7.516497493567833   846.8143027528083   99.66849833030501
10/03/2004 22.00.00    -10.802253122703641  1207.2530893567819    67.16092036286172   6.050285557471409   781.8235825158513   77.40287774222877
                ...                    ...                 ...                  ...                 ...                 ...                 ...
04/04/2005 10.00.00     -9.038113310401894  1135.2834858847377   -199.9999999999617  11.000965857865301   971.0636649648852   320.4810033900604
04/04/2005 11.00.00     -6.073122161896274  1129.2832504941296  -199.99999999995737   11.57517844719784  1003.8365692162897  318.96030587775556
04/04/2005 12.00.00    -3.0419303649854945   1118.838167245034  -199.99999999995282   12.04287594076647  1032.9242490561699   312.4423533715744
04/04/2005 13.00.00  -0.042334191358363076  1104.6723260422239  -199.99999999994827  12.407841849055918  1058.0975728620228  301.65168821781833
04/04/2005 14.00.00     2.8487192293678496  1087.8180522891876  -199.99999999994395  12.682403441560865  1079.5058158581328   287.6528646690766

                           PT08.S3(NOx)             NO2(GT)        PT08.S4(NO2)         PT08.S5(O3)
10/03/2004 18.00.00      1038.975924619  115.77143110221118  1710.6645899977636   1290.992286778524
10/03/2004 19.00.00  1127.7129428666894  102.76757561595751  1639.5061793963969  1193.1359375311201
10/03/2004 20.00.00  1216.0953693853796   89.79757789471832  1568.1642820762575   1095.086780341299
10/03/2004 21.00.00  1301.5182762688353   77.23808596791501  1498.8064534748225   999.3557372799636
10/03/2004 22.00.00  1381.2850998598935   65.49104681813976  1433.6460066832547   908.5214555633374
                ...                 ...                 ...                 ...                 ...
04/04/2005 10.00.00   679.7156670712606  139.86228804652376  1253.2677424287563  1077.6297724751687
04/04/2005 11.00.00   664.3579311441524  148.59931097114685  1235.2777797932586  1037.2505701263547
04/04/2005 12.00.00   651.8940145478862   157.0852413737939   1210.971761093622   984.1647327231478
04/04/2005 13.00.00   642.3078089225702  165.10338993647514   1181.757065555034   921.1061162691974
04/04/2005 14.00.00   635.2865535849631  172.51648043142652  1149.3670879678482    851.573667507006

CoreArray with shape (9357, 10)

In [9]:
print(data.y)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(tr_data.y)

                        T    RH      AH
10/03/2004 18.00.00  13.6  48.9  0.7578
10/03/2004 19.00.00  13.3  47.7  0.7255
10/03/2004 20.00.00  11.9  54.0  0.7502
10/03/2004 21.00.00  11.0  60.0  0.7867
10/03/2004 22.00.00  11.2  59.6  0.7888
                ...   ...   ...     ...
04/04/2005 10.00.00  21.9  29.3  0.7568
04/04/2005 11.00.00  24.3  23.7  0.7119
04/04/2005 12.00.00  26.9  18.3  0.6406
04/04/2005 13.00.00  28.3  13.5  0.5139
04/04/2005 14.00.00  28.5  13.1  0.5028

CoreArray with shape (9357, 3)

------------------------------------------------------------------------------------------------------------------------------------------------------------
                        T    RH      AH
10/03/2004 18.00.00  13.6  48.9  0.7578
10/03/2004 19.00.00  13.3  47.7  0.7255
10/03/2004 20.00.00  11.9  54.0  0.7502
10/03/2004 21.00.00  11.0  60.0  0.7867
10/03/2004 22.00.00  11.2  59.6  0.7888
                ...   ...   ...     ...
04/04/2005 10.00.00  21.9  29.3  0.7568
04/04/2005 11.00.00  24.3  23.7  0.7119
04/04/2005 12.00.00  26.9  18.3  0.6406
04/04/2005 13.00.00  28.3  13.5  0.5139
04/04/2005 14.00.00  28.5  13.1  0.5028

CoreArray with shape (9357, 3)

# Test default arguments:
- to_X = True
- to_y = True
- datasetList = False
- axis_names_X = None
- axis_names_y = None

In [10]:
tr_data = data.apply(filter_butterworth, fs=1000, cutoff_freq=50, to_y=True)
print(tr_data)

DatasetArray object with 9357 instances.

In [11]:
print(data.X)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(tr_data.X)

                     CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0    166.0
10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0    103.0
10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0    131.0
10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0    172.0
10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0    131.0
                ...     ...          ...       ...       ...            ...      ...
04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0    472.0
04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0    353.0
04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0    293.0
04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0    235.0
04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0    265.0

                     PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)
10/03/2004 18.00.00        1056.0    113.0        1692.0       1268.0
10/03/2004 19.00.00        1174.0     92.0        1559.0        972.0
10/03/2004 20.00.00        1140.0    114.0        1555.0       1074.0
10/03/2004 21.00.00        1092.0    122.0        1584.0       1203.0
10/03/2004 22.00.00        1205.0    116.0        1490.0       1110.0
                ...           ...      ...           ...          ...
04/04/2005 10.00.00         539.0    190.0        1374.0       1729.0
04/04/2005 11.00.00         604.0    179.0        1264.0       1269.0
04/04/2005 12.00.00         603.0    175.0        1241.0       1092.0
04/04/2005 13.00.00         702.0    156.0        1041.0        770.0
04/04/2005 14.00.00         654.0    168.0        1129.0        816.0

CoreArray with shape (9357, 10)

------------------------------------------------------------------------------------------------------------------------------------------------------------
                                    CO(GT)         PT08.S1(CO)             NMHC(GT)            C6H6(GT)       PT08.S2(NMHC)             NOx(GT)  \
10/03/2004 18.00.00     3.3238028646698283  1370.4124571944333    157.5070005453802  12.321080787809553  1061.5876733659004  172.76167113888548
10/03/2004 19.00.00   -0.29866041484702205   1328.693981910556   134.30360405313363  10.701463501993459    988.911452888887  148.15248546427404
10/03/2004 20.00.00     -3.912436166762458  1286.7594780531294    111.0540171012691    9.08338974842201   916.5813454449842  123.52365687657488
10/03/2004 21.00.00      -7.44269061906706  1245.8401408147104    88.44674817557053   7.516497493567833   846.8143027528083   99.66849833030501
10/03/2004 22.00.00    -10.802253122703641  1207.2530893567819    67.16092036286172   6.050285557471409   781.8235825158513   77.40287774222877
                ...                    ...                 ...                  ...                 ...                 ...                 ...
04/04/2005 10.00.00     -9.038113310401894  1135.2834858847377   -199.9999999999617  11.000965857865301   971.0636649648852   320.4810033900604
04/04/2005 11.00.00     -6.073122161896274  1129.2832504941296  -199.99999999995737   11.57517844719784  1003.8365692162897  318.96030587775556
04/04/2005 12.00.00    -3.0419303649854945   1118.838167245034  -199.99999999995282   12.04287594076647  1032.9242490561699   312.4423533715744
04/04/2005 13.00.00  -0.042334191358363076  1104.6723260422239  -199.99999999994827  12.407841849055918  1058.0975728620228  301.65168821781833
04/04/2005 14.00.00     2.8487192293678496  1087.8180522891876  -199.99999999994395  12.682403441560865  1079.5058158581328   287.6528646690766

                           PT08.S3(NOx)             NO2(GT)        PT08.S4(NO2)         PT08.S5(O3)
10/03/2004 18.00.00      1038.975924619  115.77143110221118  1710.6645899977636   1290.992286778524
10/03/2004 19.00.00  1127.7129428666894  102.76757561595751  1639.5061793963969  1193.1359375311201
10/03/2004 20.00.00  1216.0953693853796   89.79757789471832  1568.1642820762575   1095.086780341299
10/03/2004 21.00.00  1301.5182762688353   77.23808596791501  1498.8064534748225   999.3557372799636
10/03/2004 22.00.00  1381.2850998598935   65.49104681813976  1433.6460066832547   908.5214555633374
                ...                 ...                 ...                 ...                 ...
04/04/2005 10.00.00   679.7156670712606  139.86228804652376  1253.2677424287563  1077.6297724751687
04/04/2005 11.00.00   664.3579311441524  148.59931097114685  1235.2777797932586  1037.2505701263547
04/04/2005 12.00.00   651.8940145478862   157.0852413737939   1210.971761093622   984.1647327231478
04/04/2005 13.00.00   642.3078089225702  165.10338993647514   1181.757065555034   921.1061162691974
04/04/2005 14.00.00   635.2865535849631  172.51648043142652  1149.3670879678482    851.573667507006

CoreArray with shape (9357, 10)

In [12]:
print(data.y)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(tr_data.y)

                        T    RH      AH
10/03/2004 18.00.00  13.6  48.9  0.7578
10/03/2004 19.00.00  13.3  47.7  0.7255
10/03/2004 20.00.00  11.9  54.0  0.7502
10/03/2004 21.00.00  11.0  60.0  0.7867
10/03/2004 22.00.00  11.2  59.6  0.7888
                ...   ...   ...     ...
04/04/2005 10.00.00  21.9  29.3  0.7568
04/04/2005 11.00.00  24.3  23.7  0.7119
04/04/2005 12.00.00  26.9  18.3  0.6406
04/04/2005 13.00.00  28.3  13.5  0.5139
04/04/2005 14.00.00  28.5  13.1  0.5028

CoreArray with shape (9357, 3)

------------------------------------------------------------------------------------------------------------------------------------------------------------
                                      T                  RH                  AH
10/03/2004 18.00.00   13.67346451976196  48.782502824611086  0.7594457001759646
10/03/2004 19.00.00  13.176960115282553  50.449783340821895  0.7591877642125542
10/03/2004 20.00.00  12.687573964920102  52.052099957255244  0.7584500972645221
10/03/2004 21.00.00  12.218521857324848   53.54400669510965   0.757194249427696
10/03/2004 22.00.00  11.781615337631306   54.89267317069579  0.7554725120918747
                ...                 ...                 ...                 ...
04/04/2005 10.00.00  18.940375344623327  37.247775831592165  0.6728318673360989
04/04/2005 11.00.00  21.414996207055495   30.90676048272538   0.628318818053757
04/04/2005 12.00.00   24.00109512829727  24.314529366664225  0.5818155119346915
04/04/2005 13.00.00  26.618817867240598   17.66884113093284  0.5346248514245885
04/04/2005 14.00.00   29.19311809189439  11.153693487704864  0.4880471517846308

CoreArray with shape (9357, 3)

# Test default arguments:
- to_X = False
- to_y = True
- datasetList = False
- axis_names_X = None
- axis_names_y = None

In [13]:
tr_data = data.apply(filter_butterworth, fs=1000, cutoff_freq=50, to_X=False, to_y=True)
print(tr_data)

DatasetArray object with 9357 instances.

In [14]:
print(data.X)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(tr_data.X)

                     CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0    166.0
10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0    103.0
10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0    131.0
10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0    172.0
10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0    131.0
                ...     ...          ...       ...       ...            ...      ...
04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0    472.0
04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0    353.0
04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0    293.0
04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0    235.0
04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0    265.0

                     PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)
10/03/2004 18.00.00        1056.0    113.0        1692.0       1268.0
10/03/2004 19.00.00        1174.0     92.0        1559.0        972.0
10/03/2004 20.00.00        1140.0    114.0        1555.0       1074.0
10/03/2004 21.00.00        1092.0    122.0        1584.0       1203.0
10/03/2004 22.00.00        1205.0    116.0        1490.0       1110.0
                ...           ...      ...           ...          ...
04/04/2005 10.00.00         539.0    190.0        1374.0       1729.0
04/04/2005 11.00.00         604.0    179.0        1264.0       1269.0
04/04/2005 12.00.00         603.0    175.0        1241.0       1092.0
04/04/2005 13.00.00         702.0    156.0        1041.0        770.0
04/04/2005 14.00.00         654.0    168.0        1129.0        816.0

CoreArray with shape (9357, 10)

------------------------------------------------------------------------------------------------------------------------------------------------------------
                     CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
10/03/2004 18.00.00     2.6       1360.0     150.0      11.9         1046.0    166.0
10/03/2004 19.00.00     2.0       1292.0     112.0       9.4          955.0    103.0
10/03/2004 20.00.00     2.2       1402.0      88.0       9.0          939.0    131.0
10/03/2004 21.00.00     2.2       1376.0      80.0       9.2          948.0    172.0
10/03/2004 22.00.00     1.6       1272.0      51.0       6.5          836.0    131.0
                ...     ...          ...       ...       ...            ...      ...
04/04/2005 10.00.00     3.1       1314.0    -200.0      13.5         1101.0    472.0
04/04/2005 11.00.00     2.4       1163.0    -200.0      11.4         1027.0    353.0
04/04/2005 12.00.00     2.4       1142.0    -200.0      12.4         1063.0    293.0
04/04/2005 13.00.00     2.1       1003.0    -200.0       9.5          961.0    235.0
04/04/2005 14.00.00     2.2       1071.0    -200.0      11.9         1047.0    265.0

                     PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)
10/03/2004 18.00.00        1056.0    113.0        1692.0       1268.0
10/03/2004 19.00.00        1174.0     92.0        1559.0        972.0
10/03/2004 20.00.00        1140.0    114.0        1555.0       1074.0
10/03/2004 21.00.00        1092.0    122.0        1584.0       1203.0
10/03/2004 22.00.00        1205.0    116.0        1490.0       1110.0
                ...           ...      ...           ...          ...
04/04/2005 10.00.00         539.0    190.0        1374.0       1729.0
04/04/2005 11.00.00         604.0    179.0        1264.0       1269.0
04/04/2005 12.00.00         603.0    175.0        1241.0       1092.0
04/04/2005 13.00.00         702.0    156.0        1041.0        770.0
04/04/2005 14.00.00         654.0    168.0        1129.0        816.0

CoreArray with shape (9357, 10)

In [15]:
print(data.y)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(tr_data.y)

                        T    RH      AH
10/03/2004 18.00.00  13.6  48.9  0.7578
10/03/2004 19.00.00  13.3  47.7  0.7255
10/03/2004 20.00.00  11.9  54.0  0.7502
10/03/2004 21.00.00  11.0  60.0  0.7867
10/03/2004 22.00.00  11.2  59.6  0.7888
                ...   ...   ...     ...
04/04/2005 10.00.00  21.9  29.3  0.7568
04/04/2005 11.00.00  24.3  23.7  0.7119
04/04/2005 12.00.00  26.9  18.3  0.6406
04/04/2005 13.00.00  28.3  13.5  0.5139
04/04/2005 14.00.00  28.5  13.1  0.5028

CoreArray with shape (9357, 3)

------------------------------------------------------------------------------------------------------------------------------------------------------------
                                      T                  RH                  AH
10/03/2004 18.00.00   13.67346451976196  48.782502824611086  0.7594457001759646
10/03/2004 19.00.00  13.176960115282553  50.449783340821895  0.7591877642125542
10/03/2004 20.00.00  12.687573964920102  52.052099957255244  0.7584500972645221
10/03/2004 21.00.00  12.218521857324848   53.54400669510965   0.757194249427696
10/03/2004 22.00.00  11.781615337631306   54.89267317069579  0.7554725120918747
                ...                 ...                 ...                 ...
04/04/2005 10.00.00  18.940375344623327  37.247775831592165  0.6728318673360989
04/04/2005 11.00.00  21.414996207055495   30.90676048272538   0.628318818053757
04/04/2005 12.00.00   24.00109512829727  24.314529366664225  0.5818155119346915
04/04/2005 13.00.00  26.618817867240598   17.66884113093284  0.5346248514245885
04/04/2005 14.00.00   29.19311809189439  11.153693487704864  0.4880471517846308

CoreArray with shape (9357, 3)